BODY {
 background-color: #ffffff;
 max-width: 50em;
 margin-left: auto;
 margin-right: auto;
}

P {
 font-family: sans-serif;
 color: black;
 background-color: white; 
 padding-left: 5px;
}

.title {
 padding-bottom: 10px;
 font-family: arial, helvetica, ariel, sans-serif;
 color: black;
 font-size: 200%;
 font-weight: bold;
}

.subtitle {
 border-bottom: solid 1px black;
 font-family: arial, helvetica, ariel, sans-serif;
 font-size: 140%;
}

.box {
}

/* the left-side menu */
.menu {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  padding: 2px 2px 2px 2px;
}

.menu a {
  text-decoration: none;
  font-family: sans-serif;
}

.funcmenu {
  border: outset 1px #000000;
  float: right;
  background: #ffffff;
  padding: 4px 4px 4px 4px;
}

.funcmenu a {
  text-decoration: none;
  font-family: sans-serif;
  color: #003000;
  padding: 0px 0px 0px 0px;
}

.funcmenu div {
  padding: 1px 1px 1px 1px;
}

.itemselect {
  background-color: #e0e0ff;
}

/* a non-selected item in the main menu, with the mouse hovering */
.funcmenu a:hover {
  text-decoration: none;
  background-color: #e0e0ff;
  color: #000000;
  white-space: nowrap;
  padding: 0px 0px 0px 0px;
  font-family: sans-serif;
}

tr.odd {
  color: #000000;
  background-color: #e0e0ff;
}
